.single-post {
  /* flex: 9; */
  width: 68%;
  margin: auto;
  display: grid;
  grid-template-columns: 77% 23%;
  gap: 5%;
}

.single-post-wapper {
  background-color: var(--overlay-color);
  width: 45rem;
  margin: auto;
  margin-top: 8.5rem;
  padding: 3rem;

  display: flex;
  flex-direction: column;
}

.single-post-wapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 2rem;
}

.single-post-title {
  font-family: "Fraunces", "Josefin Sans", sans-serif;
  font-size: 2rem;
  color: var(--text-color);
}

.single-post-context-line {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
  color: var(--text-color);
  margin-bottom: 2rem;
}

.single-post-title-update {
  background-color: transparent;
  font-family: "Fraunces", "Josefin Sans", sans-serif;
  font-size: 2rem;
  color: var(--text-color);
  margin: 2rem 0;

  outline: none;
  border: none;
}

.single-post-title-update:focus {
  transition: 0.5s ease-in width;
  border-left: 0.5px solid var(--color-hover);
}

.single-post-info {
  display: grid;
  grid-template-columns: 40% 55%;
  gap: 5%;

  height: 2.5rem;
  margin-bottom: 2rem;
  /* justify-content: flex-start;
  align-items: center; */
}

.post-author-date-wrapper {
  display: grid;
  grid-template-columns: 20% auto auto;
  gap: 0;
}

.post-author-date-wrapper > img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
}

.single-post-author {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
  text-align: center;
  align-self: center;
  width: fit-content;
}

.single-post-author-name {
  padding-left: 0.5rem;
}

.single-post-update {
  /* width: 60%; */
  font-family: "Josefin Sans", sans-serif;
  font-style: italic;
  align-self: center;

  position: relative;
}

.single-post-update::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 1rem;
  background: var(--text-color);
  left: -1rem;
}

.single-post-edit-btn {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  gap: 2rem;
  /* margin-left: 4rem; */
  font-size: 2.15rem;
  /* width: 10%; */
  justify-content: end;
}

.single-post-edit-btn > button {
  background: transparent;
  border-color: var(--text-color);
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

.single-post-edit-btn > button:last-child {
  border-color: rgb(201, 9, 9);
  color: rgb(201, 9, 9);
}

.post-edit-btn {
  font-size: 1rem;
  color: var(--text-color);
}

.post-delete-btn {
  font-size: 1rem;
  color: rgb(201, 9, 9);
}

.single-post-content {
  line-height: 1.5rem;
  font-size: 1rem;
}

.single-post-content::first-letter {
  margin-left: 2rem;
  font-size: 3.5rem;
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
}

.single-post-content-update {
  background-color: transparent;
  line-height: 1.65rem;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;

  color: var(--text-color);
  margin: 2rem 0;
  padding: 1rem;
  border: none;
  outline: none;
  resize: none;
  height: 50vh;
  scroll-behavior: smooth;
}

.single-post-content-update::-webkit-scrollbar {
  background: transparent;
  width: 0.15rem;
}

.single-post-content-update::-webkit-scrollbar-thumb {
  background: var(--color-hover);
  border-radius: 10px;
}

.single-post-content-update:focus {
  transition: 0.5s ease-in;
  border-left: 0.5px solid var(--color-hover);
}

.updateModeBtns {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 5%;
}

.single-post-update-btn,
.single-post-read-mode-btn {
  font-family: "Fraunces", "Josefin Sans", sans-serif;
  font-size: 1rem;
  color: var(--text-color);
  background: transparent;
  border-color: var(--text-color);
  margin: 1rem 0;
  padding: 1rem;
  cursor: pointer;
}

.single-post-update-btn:hover,
.single-post-read-mode-btn:hover {
  background: var(--text-color);
  color: var(--overlay-color);
}

@media screen and (max-width: 450px) {
  .single-post {
    width: 100%;
    grid-template-columns: none;
    grid-template-rows: repeat(2, auto);
    gap: 0;
    padding: 1rem;
  }

  .single-post-wapper {
    padding: 1rem;
    width: 90%;
    margin-top: 2rem;
  }

  .single-post-info {
    grid-template-columns: none;
    grid-template-rows: repeat(2, auto);
    height: auto;
    gap: 1rem;
    margin-bottom: 0;
  }

  .single-post-author {
    font-size: 1rem;
  }

  .single-post-update {
    font-size: 0.9rem;
  }

  .single-post-edit-btn {
    /* margin: 0 0 2rem 70%; */
    width: 100%;
    grid-template-columns: repeat(2, auto);
    gap: 0.5rem;
    justify-content: initial;
  }

  .single-post-edit-btn > button {
    padding: 0.5rem 0rem;
    width: 100%;
  }

  .single-post-title {
    font-size: 2rem;
  }

  .single-post-context-line {
    font-size: 0.9rem;
  }

  .single-post-title-update {
    font-size: 1rem;
  }

  .single-post-divider {
    width: 70%;
    height: 0.15rem;
    margin: 0;
  }

  .single-post-content {
    font-size: 0.85rem;
  }

  .single-post-content-update {
    font-size: 0.8rem;
  }

  .updateModeBtns {
    grid-template-columns: none;
    grid-template-rows: repeat(2, auto);
    gap: 0.5rem;
  }

  .single-post-update-btn {
    width: 100%;
    background: var(--text-color);
    color: var(--overlay-color);
    border: none;
  }

  .single-post-read-mode-btn {
    width: 100%;
  }
}
