.register {
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      rgba(253, 240, 228, 0.99),
      rgba(253, 240, 228, 0.5)
    ),
    url("https://images.pexels.com/photos/317355/pexels-photo-317355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  color: var(--text-color);
}

.register > h2 {
  font-family: var(--title-font);
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0;
}

.register-form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 25%;
}

.register-form > label {
  font-family: var(--title-font);
  font-size: 1.25rem;
  margin: 1rem 0;
}

.register-form > input {
  padding: 1rem;
  border: none;
  background: transparent;
  outline: none;
  border-bottom: 1px solid var(--text-color);
  font-family: var(--subtitle-font);
  font-size: 1.07rem;
  margin-bottom: 0.5rem;
}

.register-btn {
  margin: auto;
  margin-top: 2rem;
  background: transparent;
  width: 50%;
  padding: 0.75rem 1rem;
  font-family: var(--title-font);
  font-size: 1.25rem;
  border-color: var(--text-color);
  cursor: pointer;
}

.register-login-btn {
  position: absolute;
  top: 7rem;
  right: 5rem;
  margin: 0;
  background: transparent;
  width: 10rem;
  padding: 0.5rem 2rem;
  font-family: var(--title-font);
  font-size: 1.25rem;
  border-color: var(--text-color);
  cursor: pointer;
}

.register-btn:hover,
.register-login-btn:hover {
  background: var(--text-color);
  color: var(--overlay-color);
}

@media screen and (max-width: 650px) {
  .register {
    padding: 1rem;
  }
  .register > h2 {
    font-size: 2rem;
  }

  .register-form {
    width: 100%;
  }

  .register-form > label {
    font-size: 1.2rem;
  }

  .register-form > input {
    font-size: 0.9rem;
  }

  .register-btn {
    width: 100%;
    background: var(--text-color);
    color: var(--overlay-color);
    border: none;
  }

  .register-login-btn {
    position: initial;
    margin-top: 1.5rem;
    width: 100%;
  }
}
