.compose-page-wrapper {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: 65% 23%;
  gap: 3%;
}

.compose {
  margin-top: 8.5rem;
  padding: 3rem;
  background: var(--overlay-color);
}

.compose-post-img {
  width: 100%;
  height: fit-content;
  object-fit: cover;
  margin-bottom: 2rem;
}

.compose-form {
  height: 65%;
  display: grid;
  grid-template-rows: 5% 5% auto;
  gap: 3rem;
}

.compose-img-button-group {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
  justify-items: center;
}

.compose-icon-wrapper {
  width: 60%;
  border: 2px solid var(--text-color);
  padding: 1rem 2rem;
  font-family: var(--title-font);
  font-size: 1rem;
  align-self: center;

  display: grid;
  grid-template-columns: 10% auto;
  gap: 1rem;

  cursor: pointer;
}

.compose-icon-wrapper > span {
  /* align-self: center; */
  height: fit-content;
  width: fit-content;
  align-self: center;
  text-align: center;
  font-weight: 600;
}

.compose-icon {
  align-content: center;
  color: var(--text-color);
  font-size: 1.5rem;
}

.compose-icon-wrapper:hover {
  background: var(--text-color);
  color: var(--overlay-color);
}

.compose-icon-wrapper:hover > .compose-icon {
  color: var(--overlay-color);
}

.compose-publish-btn {
  /* position: absolute;
  top: 37rem;
  right: 10rem; */
  justify-content: end;
  width: 70%;
  border-color: var(--text-color);
  padding: 1rem 2rem;
  background: transparent;
  font-family: "Fraunces", "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

.compose-publish-btn:hover {
  background: var(--text-color);
  color: var(--overlay-color);
}

.compose-input {
  /* font-size: 1.75rem; */
  border: none;
  background: transparent;
  color: var(--text-color);

  /* padding: 1rem; */
  /* width: 70vw; */
}

.compose-input:focus {
  outline: none;
}

.compose-title {
  font-size: 2rem;
  font-family: var(--title-font);
  font-weight: 600;
}

.compose-form-content {
  position: relative;
}

.compose-form-content::before {
  position: absolute;
  content: "";
  background: var(--text-color);
  height: 1px;
  width: 15rem;
  top: -1.8rem;
  left: 0;
}

.compose-post-content {
  resize: none;
  width: 100%;
  height: 100%;
  font-family: var(--content-font);
  font-size: 1rem;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.compose-post-content::-webkit-scrollbar {
  background: var(--overlay-color);
  width: 0.1rem;
}

.compose-post-content::-webkit-scrollbar-thumb {
  background: var(--text-color);
}

@media screen and (max-width: 650px) {
  .compose {
    padding: 1rem;
  }

  .compose-icon {
    font-size: 1.75rem;
  }

  .compose-input {
    width: 100%;
  }

  .compose-title {
    font-size: 1.5rem;
  }

  .compose-post-content {
    font-size: 1.15rem;
  }

  .compose-publish-btn {
    position: initial;
    width: 100%;
    margin: 2rem 0;
  }
}
