.header {
  margin: 1.5rem 0 7rem 0;
}

.header-title > h4 {
  color: #20303c;
  font-family: "Fraunces", "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

.header-img {
  width: 100%;
  height: 40rem;
  object-fit: cover;
}
