.header {
  margin: 1.5rem auto;
  width: 87rem;
}

.header-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-title > h4 {
  color: #20303c;
  font-family: "Fraunces", "Josefin Sans", sans-serif;
  font-size: 2.5rem;
  text-align: center;
}

.header-title > span {
  width: 100%;
  text-align: end;
  font-family: "Josefin Sans", sans-serif;
  font-style: italic;
}

@media screen and (max-width: 650px) {
  .header {
    /* margin: 1.5rem auto; */
    width: 90vw;
  }

  .header-title {
    margin: auto;
  }

  .header-title > h4 {
    font-size: 1.75rem;
  }
}
