.loading-wrapper {
  height: 86vh;
}

.loading-content-wrapper {
  margin-top: 5vh;
}

.loading-content {
  height: fit-content;
  width: fit-content;
  margin: auto;
}

.image-container {
  height: 60vh;
}

.image-container > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.loading-statement {
  position: absolute;
  top: 33rem;
  left: 38rem;

  text-align: center;
  font-family: var(--subtitle-font);
  font-size: 1.5rem;
  color: var(--text-color);
}

@media screen and (max-width: 650px) {
  .loading-wrapper {
    padding: 1rem;
    height: 90vh;
  }

  .loading-statement {
    position: relative;
    top: auto;
    left: auto;
    font-size: 1.15rem;
  }
}
