.loading-wrapper {
  height: 90vh;
}

.loading-content-wrapper {
  align-content: center;
  height: 100%;
}

.loading-content {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 100%;
}

.loader-container {
  height: fit-content;
  width: fit-content;
}

.loading-statement {
  text-align: center;
  font-family: var(--subtitle-font);
  font-size: 1.25rem;
  color: var(--text-color);
}

@media screen and (max-width: 650px) {
  .loading-wrapper {
    padding: 1rem;
    height: 90vh;
  }

  .loading-statement {
    position: relative;
    top: auto;
    left: auto;
    font-size: 1.15rem;
  }
}
